<div class="sensor_container">
    <p><b></b>{{ sensor.sensor_name() }} Sensor:</b> {{sensor.pin}} </p>
    <p>Value range: {{ sensor.valid_min }} to {{ sensor.valid_max }} {{ sensor.unit }}</p>
    <p><input type="checkbox" id="random{{sensor.pin}}" value="Random"> Random &nbsp;
        Min:<input type="number" id="random_min{{sensor.pin}}" value="{{sensor.random_min}}">
        Max:<input type="number" id="random_max{{sensor.pin}}" value="{{sensor.random_max}}"></p>
    <p>Value: <input type="number" id="value{{sensor.pin}}" value="{{sensor.value}}"> {{ sensor.unit }}</p>
    <p><button id="sensor_set_button{{sensor.pin}}">Set</button></p>
    <p><button id="sensor_delete_button{{sensor.pin}}">Delete</button></p>
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            var set_button = document.getElementById("sensor_set_button{{sensor.pin}}")
            var delete_button = document.getElementById("sensor_delete_button{{sensor.pin}}")
            var is_random_control = document.getElementById("random{{sensor.pin}}")
            var random_min_control = document.getElementById("random_min{{sensor.pin}}")
            var random_max_control = document.getElementById("random_max{{sensor.pin}}")
            var value_control = document.getElementById("value{{sensor.pin}}")

            set_button.addEventListener("click", function() {
                // get the values
                var is_random = is_random_control.checked
                var random_min = parseFloat(random_min_control.value)
                var random_max = parseFloat(random_max_control.value)
                var value = parseFloat(value_control.value)

                var payload = {
                    'pin': {{sensor.pin}},
                    'value': value,
                    'is_random': is_random,
                    'random_min': random_min,
                    'random_max': random_max
                }

                var xhr = new XMLHttpRequest();
                var url = "./float_sensor_settings";
                xhr.open("POST", url, false);
                xhr.setRequestHeader("Content-Type", "application/json");
                var data = JSON.stringify(payload);
                xhr.send(data);
            });

            delete_button.addEventListener("click", function(){
                var payload = {
                    'pin': {{sensor.pin}}
                }

                var xhr = new XMLHttpRequest();
                var url = "./delete_sensor";
                xhr.open("POST", url, false);
                xhr.setRequestHeader("Content-Type", "application/json");
                var data = JSON.stringify(payload);
                xhr.send(data);
                location.reload();
            });
        })
    </script>
</div>