
<div class="card shadow-sm" style="margin: 10px;">
    <div class="card-header py-3 text-white bg-secondary">
        <div class="container-fluid d-flex align-items-center">
            <h4 class="my-0 fw-normal">{{ actuator.actuator_name() }}</h4>
            <h4 class="my-0 fw-normal ms-auto">Pin {{actuator.pin}}</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    Color:
                </div>
                <div class="col">
                    <input class="form-control" type="color" id="color{{actuator.pin}}" value="{{actuator.color}}" style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                </div>
                <div class="col">
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto d-block img-responsive" style="height: 100px;">
                        <circle cx="50" cy="50" r="40" fill="white" stroke="black" stroke-width="3"/>
                        <circle id="led{{actuator.pin}}" cx="50" cy="50" r="40" fill="{{actuator.color}}" stroke="black" stroke-width="3"
                            {% if actuator.value: %}
                                visibility="visible"
                            {% else %}
                                visibility="hidden"
                            {% endif %}
                        />
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <button id="actuator_set_button{{actuator.pin}}" class="w-100 btn btn-lg btn-primary">Set</button>
                </div>
                <div class="col">
                    <button id="actuator_delete_button{{actuator.pin}}" class="w-100 btn btn-lg btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            var set_button = document.getElementById("actuator_set_button{{actuator.pin}}")
            var delete_button = document.getElementById("actuator_delete_button{{actuator.pin}}")
            var color_control = document.getElementById("color{{actuator.pin}}")
            var led_control = document.getElementById("led{{actuator.pin}}")

            set_button.addEventListener("click", function() {
                // get the values
                var color = color_control.value

                var payload = {
                    'pin': {{actuator.pin}},
                    'color': color
                }

                var xhr = new XMLHttpRequest();
                var url = "./led_actuator_settings";
                xhr.open("POST", url, false);
                xhr.setRequestHeader("Content-Type", "application/json");
                var data = JSON.stringify(payload);
                xhr.send(data);

                led_control.style.fill=color
            });

            delete_button.addEventListener("click", function(){
                var payload = {
                    'pin': {{actuator.pin}}
                }

                var xhr = new XMLHttpRequest();
                var url = "./delete_actuator";
                xhr.open("POST", url, false);
                xhr.setRequestHeader("Content-Type", "application/json");
                var data = JSON.stringify(payload);
                xhr.send(data);
                location.reload();
            });

            var socket = io();
            socket.on('actuator_change{{actuator.pin}}', function(data) {
                if (data.value){
                    led_control.style.visibility = "visible"
                }
                else {
                    led_control.style.visibility = "hidden"
                }

                console.log('actuator change received');
                console.log(data);
            });
        })
    </script>
</div>